* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: space-between;
}

.slide-rosa {
  background-image: url(../assets/image/bg-1.jpeg);
  transition: .5s;
}
.slide-verde {
  background-image: url(../assets/image/bg-2.jpeg);
  transition: .5s;
}
.slide-marrom {
  background-image: url(../assets/image/bg-3.jpeg);
  transition: .5s;
}
.slide-azul {
  background-image: url(../assets/image/bg-4.jpeg);
  transition: .5s;
}

.arrow-slider {
  img.arrow {
    z-index: 1;
    width: 50px;
    transition: .3s;
    cursor: pointer;
  }
  img.arrow.last {
    opacity: 40%;
    cursor: default;
  }
}

.arrow-slider.left {
  margin: auto 0;
  position: relative;
  img.arrow-left {
    position: absolute;
    left: 50px;
    transform: rotate(180deg);
  }
}

.arrow-slider.right {
  margin: auto 0;
  position: relative;
  img.arrow-right {
    position: absolute;
    right: 50px;
  }
}

.slide {
  position: absolute;
  opacity: 0;
  height: 100vh;
  width: 100%;
}

.focus {
  opacity: 1;
}

.slide .container-info {
  background-color: #fff;
  width: 620px;
  height: 700px;
  padding: 65px;
  margin: 6% 0 0 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  transition: 1s;
  h1 {
    font-size: 50px;
    font-weight: 400;
  }
  p {
    font-size: 25px;
    font-weight: 300;
    max-width: 455px;
    line-height: 35px;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
  }
  a#rosa {
    color: #C50000;
  }
  a#verde {
    color: #D9DD10;
  }
  a#marrom {
    color: #A63A17;
  }
  a#azul {
    color: #10ACDD;
  }
}